
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  #todo-title {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #date-picker {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00b0ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #todo-list {
    margin-top: 20px;
  }

  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .todo-title {
    font-size: 18px;
    font-weight: bold;
    color: #00b0ff;
  }

  .todo-due-date {
    font-size: 14px;
    color: gray;
  }

  

 